
@import '../../styles/variables.scss';

.userpage-container {
  font-size: 2rem;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  min-height: 100vh;
  padding-bottom: 100px;
}

.hero-section {
  padding: 60px 20px;
  color: white;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1.2rem;
  color: #f8f9fa;
}

.features-section {
  margin-top: 40px;
}

.feature-card {
  background-color: rgba(75, 0, 130, 0.85);
  border-radius: 20px;
  padding: 30px;
  margin: 20px 0;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 1s ease;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.feature-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  background: linear-gradient(-45deg, $secondary-color, $accent-color, #ff69b4, rgba(75, 0, 130, 0.85));
  animation: gradient-animation 5s ease infinite;
}

.feature-card:hover .feature-title {
  color: black;
  transition: color 0.3s ease;
}

.feature-card:hover .feature-description {
  color: black;
  transition: color 0.3s ease;
}

.feature-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: $accent-color;
}

.feature-description {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #f8f9fa;
}

.btn-feature {
  background-color: $accent-color;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  color: white;
  text-decoration: none;
}

.btn-feature:hover {
  background-color: $secondary-color;
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(173, 82, 223, 0.7);
}
