@import "../../styles/variables.scss";

/* Container principale della UserPage */
.userpage-container {
  color: $text-paragraph;
  min-height: 100vh;
}

/* Hero Section */
.hero-section {
  background: $gradient-dark-primary;
  animation:animated-gradient 10s infinite;
  background-size: 200%, 200%;
  color: $title-color;
  padding: $spacing-xlarge $spacing-medium;
  text-align: center;
  padding-top: 120px;

  .hero-title {
    font-family: $font-primary;
    font-size: $font-size-h2;
    color: $button-color;
    margin-bottom: $spacing-medium;
  }

  .hero-description {
    font-family: $font-secondary;
    font-size: $font-size-body;
    margin-bottom: $spacing-medium;
  }
}


.capitale-valuta-section {
  
  .form-group {
    margin-bottom: $spacing-medium;
    margin-top: $spacing-xlarge;

    .capitale-label,
    .currency-label {
      font-size: $font-size-h3;
      font-family: $font-primary;
      font-weight: bold;
      color: $button-color;
    }

    .form-control,
    .form-select {
      background-color: $div-secondary;
      color: $title-color;
      border: none;
      border-radius: 5px;
      font-size: $font-size-body;
      padding: $spacing-small;

      &:focus {
        outline: none;
        box-shadow: $box-shadow-light;
      }
    }

    .btn-set-capitale,
    .btn-currency-update {
      @include button-style($button-color, $button-hover-color);
      font-size: $font-size-body;
      width: 100%; 
      margin-top: $spacing-small;
      padding: $spacing-small $spacing-medium;
      border-radius: 5px;
    }

    .currency-message {
      color: lighten($title-color, 20%);
      font-size: $font-size-small;
      text-align: center;
    }
  }
}

.capitale-label2 {
  margin-top: $spacing-xlarge;
  font-family: $font-primary;
  font-weight: bold;
  font-size: $font-size-h2;
  color: $button-color;
  margin-bottom: $spacing-medium;
}

.capitale-value {
  font-family: $font-primary;
  font-size: $font-size-h1;
  color: $button-color;
  font-weight: bold;
  margin-bottom: $spacing-medium;
}
/* Responsività */
@media (max-width: $breakpoint-md) {
  .capitale-valuta-section {
    .form-group {
      margin-bottom: $spacing-small;

      .btn-set-capitale,
      .btn-currency-update {
        font-size: $font-size-small;
      }
    }
  }
}


  /* Bottone per impostare il capitale iniziale */
  .btn-set-capitale,
  .btn-currency-update {
    @include button-style($button-color, $button-hover-color);
    font-size: $font-size-body;
    width: 100%; 
    margin-top: $spacing-small;
    padding: $spacing-small $spacing-medium;
    border-radius: 5px;
  }


/* Video Tutorials Section */
.video-tutorials-section {
  .responsive-iframe {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: $box-shadow-light;
    margin-bottom: $spacing-medium;

    &:hover {
      transform: scale(1.02);
      box-shadow: $box-shadow-heavy;
    }
  }

  .video-description {
    font-size: $font-size-h5;
    font-weight: bold;
    color: $button-color;
    margin-top: $spacing-small;
  }
}

/* Features Section */
.features-section {
  .feature-card {
    background: $gradient-dark-primary;
    animation:animated-gradient 10s infinite;
    background-size: 200%, 200%;
    color: $title-color;
    padding: $spacing-medium;
    border-radius: 10px;
    box-shadow: $box-shadow-light;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: $box-shadow-heavy;
    }

    .feature-title {
      font-family: $font-primary;
      font-size: $font-size-h4;
      color: $button-color;
      margin-bottom: $spacing-small;
    }

    .feature-description {
      font-family: $font-secondary;
      font-size: $font-size-small;
      margin-bottom: $spacing-medium;
      color: lighten($title-color, 10%);
    }

    .btn-feature {
      @include button-style($button-color, $button-hover-color);
      font-size: $font-size-small;
      padding: $spacing-small $spacing-medium;
      text-transform: uppercase;
      text-align: center;
      display: block;
      margin-top: $spacing-small;
    }
  }
}

/* Responsività */
@media (max-width: $breakpoint-md) {
  .hero-title {
    font-size: $font-size-h3;
  }

  .hero-description {
    font-size: $font-size-small;
  }

  .currency-label,
  .capitale-label {
    font-size: $font-size-body;
  }

  .capitale-value {
    font-size: $font-size-h4;
  }

  .video-description {
    font-size: 0.875rem;
  }
}

@media (max-width: $breakpoint-sm) {
  .hero-title {
    font-size: $font-size-h4;
  }

  .hero-description {
    font-size: 0.75rem;
  }

  .capitale-value {
    font-size: $font-size-h5;
  }
}
