@import "../../styles/variables.scss";

/* Hero Section */
.hero-section {
  background: $bg-sottosezione;
  background-size: 200%, 200%;
  color: $title-color;
  text-align: center;
  padding: $spacing-large;
  padding-top: 200px;
  font-family: $font-secondary;
  @include glass-effect;

  .hero-content {
    padding-bottom: $spacing-large;
  }

  .hero-title {
    font-family: $font-primary;
    font-weight: 700;
    @include shimmer-text;

    .highlight {
      color: $text-paragraph;
    }
  }

  .hero-description {
    font-size: $font-size-small;
    margin-top: $spacing-small;
  }

  .cta-buttons-container {
    display: flex;
    justify-content: center;
    gap: $spacing-medium;
    margin-top: $spacing-medium;

    .cta-button,
    .cta-button-demo {
      flex: 1;
      max-width: 200px;
      text-align: center;
      font-size: $font-size-body;
      font-family: $font-primary;
      padding: $spacing-small $spacing-medium;
      border-radius: $spacing-small;
      border: none;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: $box-shadow-light;
      }

      i {
        margin-right: $spacing-small;
      }
    }

    .cta-button {
      background-color: $button-color;
      color: #cdc3d3;

      &:hover {
        background-color: lighten($button-color, 10%);
      }
    }

    .cta-button-demo {
      background-color: $button-color;
      color: #cdc3d3;
    }
  }
}

/* Why Choose Us Section */
.why-choose-section {
  font-family: $font-secondary;

  .section-title {
    color: $text-paragraph;
    margin-bottom: $spacing-medium;
    font-family: $font-primary;
  }

  .feature-icon {
    font-size: 3rem;
    @include bold-gradient-text;
    margin-bottom: $spacing-small;
    @include pulse-glow
  }

  .feature-heading {
    font-size: $font-size-h5;
    margin-bottom: $spacing-small;
    font-family: $font-primary;
  }

  .feature-text {
    font-size: $font-size-small;
  }
}

/* Features Section */
.features-section {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: $text-paragraph;
  padding: $spacing-xlarge 0;
  font-family: $font-secondary;

  .feature-row {
    margin-bottom: $spacing-large;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    .feature-icon-large {
      font-size: 3rem;
      @include bold-gradient-text;
      margin-bottom: $spacing-medium;
    }

    .feature-title {
      font-size: $font-size-h3;
      font-family: $font-primary;
      @include bold-gradient-text;
      font-weight: bold;
      display: inline-block;
      margin-bottom: $spacing-small;
    }

    .feature-description {
      font-size: $font-size-h5;
      color: $text-paragraph;
      font-family: $font-secondary;
      font-weight: bold;
      line-height: 1.4;
    }

    .video-tutorials video {
      border-radius: 10px;
      box-shadow: $box-shadow-light;

      &:hover {
        transform: scale(1.05);
        box-shadow: $box-shadow-heavy;
      }
    }
  }

  .feature-divider {
    height: 2px;
    background: $gradient-colors;
    margin: $spacing-medium 0;
  }
}

/* Responsività */
@media (max-width: $breakpoint-md) {
  .hero-title {
    font-size: $font-size-h4;
  }

  .hero-description {
    font-size: $font-size-small;
  }

  .feature-title {
    font-size: $font-size-h5;
  }

  .feature-description {
    font-size: 0.8rem;
  }

  .feature-icon-large {
    font-size: 2rem;
  }
}

.img-tutorials {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }
}
