body {
    margin: 0;
    font-family: 'Teko', sans-serif;
    background-color: #f8f9fa; /* Colore di sfondo neutro */
  }
  
  h1 {
    font-size: 2.5rem;
    color: #343a40; /* Grigio scuro */
  }
  
  p {
    color: #6c757d; /* Testo secondario */
  }
  
