
@import '../../styles/variables.scss';

/* Sfondo con gradiente multi-colori */
.animated-background {
  background: linear-gradient(90deg, #7b19a8, #c82ee7, #c01fe0, #df2ad6, #d616cd);
  background-size: 300% 300%;
  animation: gradient-animation 15s ease infinite;
  border-radius: 10px;
  transition: all 1s ease;
  cursor: pointer;
}

/* Animazione del gradiente */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Effetto Hover */
.animated-background:hover {
  background: $primary-color; 
  transform: scale(1.1); 
  transition: all 0.3s ease-in-out; 
}

