@import "../../styles/variables.scss";

/* Hero Section */
.hero-section {
  background: $gradient-dark-primary;
  animation:animated-gradient 10s infinite;
  background-size: 200%, 200%;
  color: $title-color;
  text-align: center;
  padding: $spacing-large;
  padding-top: 200px;

  .hero-content {
    padding-bottom: $spacing-large;
  }

  .hero-title .highlight {
    color: $button-color; 
    text-decoration: underline; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); 
  }

  .hero-description {
    font-size: $font-size-small;
    margin-top: $spacing-small;
  }
  /* Contenitore dei pulsanti */
  .cta-buttons-container {
    display: flex;
    justify-content: center;
    gap: $spacing-medium; 
    margin-top: $spacing-medium;

    .cta-button,
    .cta-button-demo {
      flex: 1; 
      max-width: 200px; 
      text-align: center;
      font-size: $font-size-body; 
      padding: $spacing-small $spacing-medium;
      border-radius: $spacing-small;
      border: none;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: $box-shadow-light; 
      }

      i {
        margin-right: $spacing-small; 
      }
    }

    /* Stile del primo pulsante */
    .cta-button {
      background-color: $button-color;
      color: $title-color;

      &:hover {
        background-color: lighten($button-color, 10%);
      }
    }

    /* Stile del secondo pulsante */
    .cta-button-demo {
      background-color: $button-color;
      color: $text-paragraph;
    }
  }
}

/* Why Choose Us Section */
.why-choose-section {
  .section-title {
    color: $button-color;
    margin-bottom: $spacing-medium;
  }

  .feature-icon {
    font-size: 3rem;
    color: $button-color;
    margin-bottom: $spacing-small;
  }

  .feature-heading {
    font-size: $font-size-h5;
    margin-bottom: $spacing-small;
  }

  .feature-text {
    font-size: $font-size-small;
  }
}

/* Animazioni */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Features Section */
.features-section {
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: $text-paragraph;
  padding: $spacing-xlarge 0;

  .feature-row {
    margin-bottom: $spacing-large;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    .feature-icon-large {
      font-size: 3rem;
      color: $button-color;
      margin-bottom: $spacing-medium;
    }

    .feature-title {
      font-size: $font-size-h3;
      font-family: $font-primary;
      color: $button-color;
      font-weight: bold;
      border-bottom: 3px solid $button-color;
      display: inline-block;
      margin-bottom: $spacing-small;
    }

    .feature-description {
      font-size: $font-size-h5;
      color: $button-color;
      font-weight: bold;
      line-height: 1.4;
    }

    .video-tutorials video {
      border-radius: 10px;
      box-shadow: $box-shadow-light;

      &:hover {
        transform: scale(1.05);
        box-shadow: $box-shadow-heavy;
      }
    }
  }

  .feature-divider {
    height: 2px;
    background: $gradient-colors;
    margin: $spacing-medium 0;
  }
}

/* Animazioni */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsività */
@media (max-width: $breakpoint-md) {
  .hero-title {
    font-size: $font-size-h4;
  }

  .hero-description {
    font-size: $font-size-small;
  }

  .feature-title {
    font-size: $font-size-h5;
  }

  .feature-description {
    font-size: 0.8rem;
  }

  .feature-icon-large {
    font-size: 2rem;
  }
}

.img-tutorials img {
  max-width: 100%; 
  height: auto; 
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  margin: 20px 0; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.img-tutorials img:hover {
  transform: scale(1.05); 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
}

