body{
  font-family: 'Teko', sans-serif;
}


.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  font-size: 1.1rem;
  font-weight: bold;
  color: #f8f9fa !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ad52df !important;
}

.navbar-animated {
  background-color: rgba(75, 0, 130, 0.85);
  transition: opacity 1s ease-out, transform 1s ease-out; 
  opacity: 0; 
  transform: translateY(-20px); 
}

.navbar-animated.visible {
  opacity: 1; 
  transform: translateY(0); 
}

.navbar-brand {
  font-size: 1.8rem; /* Regola la dimensione del testo */
  font-weight: bold;
  background: linear-gradient(90deg, #ff4500, #ffa500, #ffd700, #ff4500);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-clip: text; 
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}