@import '../../styles/variables.scss';

.navbar-animated {
  background-color: $div-primary; 
  transition: transform 0.3s ease, background-color 0.3s ease;
  padding: $spacing-small $spacing-medium;

  &.visible {
    transform: translateY(0);
  }

  &.hidden {
    transform: translateY(-100%);
  }

  box-shadow: $box-shadow-light;
}


.navbar-brand {
  font-family: $font-primary;
  font-size: $font-size-h3;
  color: $title-color;
  display: flex;
  align-items: center;

  img {
    margin-right: $spacing-small;
  }

  &:hover {
    text-decoration: none;
    @include hover-scale;
  }
}


.nav-link {
  font-family: $font-secondary;
  font-size: $font-size-body;
  color: $text-paragraph;
  padding: $spacing-small $spacing-medium;
  transition: color 0.3s ease, transform 0.3s ease;

  &:hover {
    color: $button-color; 
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}


.navbar-toggler {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px; 
  height: 25px;
  cursor: pointer;
  border: none;
  background: transparent;

  span {
    display: block;
    height: 4px; // Spessore maggiore
    background-color: $button-color; 
    border-radius: 2px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 

    &:nth-child(1) {
      transform-origin: top left;
    }

    &:nth-child(3) {
      transform-origin: bottom left;
    }
  }

  &.toggled {
    span:nth-child(1) {
      transform: rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(-45deg);
    }
  }

  &:hover span {
    background-color: lighten($button-color, 10%); 
  }
}


@media (max-width: $breakpoint-md) {
  .navbar-animated {
    padding: $spacing-small;
  }

  .nav-link {
    font-size: $font-size-small;
  }

  .navbar-brand {
    font-size: $font-size-h4;
  }
}
