@import '../../styles/variables.scss'; // Import delle variabili centralizzate

.navbar-animated {
  background-color: $background-body; // Sfondo scuro per la navbar
  transition: transform 0.3s ease, background-color 0.3s ease;
  padding: $spacing-small $spacing-medium;

  &.visible {
    transform: translateY(0);
  }

  &.hidden {
    transform: translateY(-100%);
  }

  // Ombra per maggiore profondità
  box-shadow: $box-shadow-light;
}

// Branding
.navbar-brand {
  font-family: $font-primary;
  font-size: $font-size-h3;
  color: $title-color;
  display: flex;
  align-items: center;

  img {
    margin-right: $spacing-small;
  }

  &:hover {
    text-decoration: none;
    @include hover-scale;
  }
}

// Link di navigazione
.nav-link {
  font-family: $font-secondary;
  font-size: $font-size-body;
  color: $text-paragraph;
  padding: $spacing-small $spacing-medium;
  transition: color 0.3s ease, transform 0.3s ease;

  &:hover {
    color: $button-color; // Cambia colore all'arancione
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

// Bottone di toggle per schermi piccoli
.navbar-toggler {
  border: none;
  background-color: $button-color;

  &:focus {
    outline: none;
  }

  span {
    background-color: $title-color;
  }
}

// Responsive - Riduzione spazi per schermi piccoli
@media (max-width: $breakpoint-md) {
  .navbar-animated {
    padding: $spacing-small;
  }

  .nav-link {
    font-size: $font-size-small;
  }

  .navbar-brand {
    font-size: $font-size-h4;
  }
}
