@import "../../styles/variables.scss";

// ────── Pagina Demo Tutorial ──────

.demo-page-container {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: $text-paragraph;
  padding: $spacing-large;
  padding-top: 100px;
  min-height: 100vh;

  .demo-header {
    text-align: center;
    margin-bottom: $spacing-large;

    .demo-title {
      font-family: $font-primary;
      font-size: $font-size-h2;
      font-weight: bolder;
      @include shimmer-text;
    }

    .demo-description {
      font-family: $font-secondary;
      font-size: $font-size-h5;
      color: $title-color;
      margin-top: $spacing-xlarge;
    }
  }

  .videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $spacing-large;
    margin-top: $spacing-xxlarge;

    .video-card {
      background-color: $div-secondary;
      border-radius: 10px;
      padding: $spacing-medium;
      max-width: 300px;
      text-align: center;
      box-shadow: $box-shadow-light;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: $box-shadow-heavy;
      }

      .video-title {
        font-family: $font-primary;
        font-size: $font-size-h5;
        color: $button-color;
        margin-bottom: $spacing-small;
      }

      .video-element {
        width: 100%;
        border-radius: 10px;
        margin-bottom: $spacing-small;
      }

      .video-description {
        font-family: $font-secondary;
        font-size: $font-size-small;
        color: $text-paragraph;
      }
    }
  }
}

// ────── Responsive ──────

@include respond-to(md) {
  .videos-container {
    flex-direction: column;
    align-items: center;

    .video-card {
      width: 100%;
      max-width: none;
    }
  }
}
