@import "../../styles/variables.scss";

.container-register {
  color: $text-paragraph;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: $spacing-large;
}

.form-container {
  background-color: $div-primary;
  color: $title-color;
  padding: $spacing-large;
  border-radius: 10px;
  box-shadow: $box-shadow-light;
  width: 100%;
  max-width: 400px;

  h1 {
    font-family: $font-primary;
    font-size: $font-size-h2;
    color: $button-color;
    text-align: center;
    margin-bottom: $spacing-medium;
  }

  .alert {
    padding: $spacing-small;
    border-radius: 5px;
    font-size: $font-size-small;
    text-align: center;
    margin-bottom: $spacing-medium;

    &.alert-danger {
      background-color: $alert-color;
      color: $title-color;
    }

    &.alert-success {
      background-color: $button-color;
      color: $title-color;
    }
  }

  .form-control {
    background-color: $div-secondary;
    color: $title-color;
    border: none;
    border-radius: 5px;
    margin-bottom: $spacing-medium;
    padding: $spacing-small;
    font-size: $font-size-body;

    &:focus {
      outline: none;
      box-shadow: 0 0 5px $button-color;
      transition: box-shadow 0.3s ease;
    }

    &::placeholder {
      color: lighten($title-color, 20%);
      font-style: italic;
    }

    &.invalid {
      border: 1px solid $alert-color;
      box-shadow: 0 0 5px $alert-color;
    }
  }

  .btn-register {
    @include button-style($button-color, $button-hover-color);
    width: 100%;
    margin-top: $spacing-medium;

    &:disabled {
      background-color: darken($button-color, 10%);
      cursor: not-allowed;
      opacity: 0.7;
    }
  }

  .input-group {
    position: relative;

    .form-control {
      padding-right: 40px;
    }

    .toggle-password {
      background-color: $title-color;
      color: $text-paragraph;
      border: none;
      border-radius: 0 5px 5px 0;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 40px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;

      i {
        font-size: $font-size-h5;
      }

      &:hover {
        background-color: lighten($div-secondary, 10%);
        transform: scale(1.1);
      }
    }
  }
}

@include respond-to(md) {
  .form-container {
    padding: $spacing-medium;

    h1 {
      font-size: $font-size-h3;
    }
  }
}
